@import "../../global.scss";

.navbar {
  width: 100%;
  height: 70px;
  background: white;
  color: $mainColor;
  position: fixed;
  z-index: 1;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
  }
}
